body{ 
	margin:0;
	padding: 0;
}
/*header start*/
header{
background-color: #2e4075;
padding: 10px 0;
}
.wrapper{
	width:80%;
	margin:0 auto;
	overflow: hidden; 
	/*border:1px solid white;*/
}
.logo{
	
	width: 18%;
	float: left;

	} 
.logo img{
	   
	    width: 120%;
    margin-top: 20px;
}


.menu{
	
	width: 70%;
	float: right;
	margin-top: 40px;
}
.menu ul{
	float:right;
}
.menu ul li{ 
	list-style: none;
    float : left;

}

.menu ul li a
{  
    text-decoration: none;
    font-size: 18px;
    padding: 0 15px;
    display: block;
    color:white;
    transition: 2s;
}

.menu ul li:last-child a{
	padding-right:0;
}
.menu ul li a:hover
{
	color: #0271B2;
}
/*header end*/

/*banner Start*/


.banner {
background-image: url(../gg.jpg);
opacity: 0.95;
background-repeat: no-repeat;
background-size: cover;
background-position: center; 
/*min-height: 500px;*/

 
}

.banner-content { 
	margin-top:50px;
	   margin-bottom:50px;
	   width: 45%;
	  

}
.banner-content h1{
	color:#000dff;
	font-size: 26px;
	font-family: sans-serif;
	    margin-top: 10px;
	    
	
}

.banner-content p{
	color:white;
	font-size: 20px;
   line-height: 1.5;
} 
.banner-content button{color:#707070;
font-size: 20px;
margin-top: 10px; 
padding:10px 15px 8px 15px;}
.banner-content button span{
	background-color: blue;
    padding: 3.5px 10px 4px 10px;
	border-radius: 80%;
	color:white;
	margin-left: 10px;
}

/*Banner End*/

/*Service start*/
.service {
	background-color:#121B2C;
	padding: 50px 0;

	   
}

.service h1{
	color:#F8F8F8;
	font-size: 26px;
	font-family: sans-serif;
	    margin-top: 10px;
	 margin-left: 100px;
    padding-left: 61px;
	    
}

.single { 
	width: 29%;
	padding:10px 20px; 
	float: left;
	border-right: 0.25px solid white;
	    margin-left: 6px;
}
.single:last-child{
	border-right: 0;
}
.title { 
overflow: hidden;
}

.icon {
	width:25%;
	float: left;
}


.icon-content {

 width: 70%;
float: left;
margin-top:10px;
}
.icon-content h1{
	color: white;
	text-transform: capitalize;
	font-family: sans-serif;
	margin: 0px;
	font-size: 18px;
}


.icon-content h2{
	color:#4ca18e;
text-transform: capitalize;
	font-family: sans-serif;
		    margin: 0px;
font-size: 17px;
}




.content p {color:white;
font-family: sans-serif;
line-height: 1.7;
font-size: 14px;
}


/*Service end*/
/*information start*/




.Skill {

background-color:	#9e784a;
padding: 40px 0;


}

.Skill h1{
	color:#212226s;
	font-size: 26px;
	font-family: sans-serif;
	    margin-top: 10px;
	 margin-left: 100px;
    padding-left: 61px;
	    
}
	    



.pl ul ol{ 
	list-style: none;
    

}
.pl ul ol a
{  
    text-decoration: none;
    font-size: 18px;
    padding: 0 15px;
    display: block;
    color:white;
    transition: 1s;
}
.contactBox
{
	background-color: #cf3851;
padding: 20px 0;
}
.contactBox h1{
	color:#473d3f;
	font-size: 26px;
	font-family: sans-serif;
	    margin-top: 10px;
	 margin-left: 100px;
    padding-left: 61px;
}
.contactBox ul ol h4{
	color:#e0bcc2;
padding-left: 118px;
}
.contactBox ul ol a{
	 margin-top: 10px;
	   padding-left: 6px;
	   	color:#a39396;
}

.con{ margin-top: 10px;
	 margin-left: 100px;
    padding-left: 61px;
    color:#1c2033;

}
.con label{
	color:#768be8;
}

/*button end*/

/*button end*/
/*footer start*/
#footer{
	background-color:	#040811;
}

.footer_content{
	
	width: 25%;
    float:left;
    
}
.footer_content p{
	color:#F8F8F8;
}
.footer_content ul{
	float: left;
}
.footer_content ul li{
	list-style: none;
	float: left;
}

.links{
	width: 19%;
    float:right;
    }
   
.links ul li{
	list-style: none;
	float: left;
}
.links ul li a{
	text-decoration: none;
	
	display: block;
	padding: 7px;
	

}



/*footer end*/